.github/**
.vscode/**
**/*.map
src/**
tsconfig.json
CONTRIBUTING.md
SECURITY.md
CODE_OF_CONDUCT.md
**/*.test.*
node_modules/.bin/**
node_modules/**
.editorconfig
.gitignore

.vscode/**
.git/**
**/*.map
src/**
tsconfig.json
README.md


